body {
  background: linear-gradient(90deg, rgb(191, 244, 253), rgb(215, 217, 255));
  width: 100%;
  overflow-x: hidden;
  margin-left: 0;
  margin-right: 0;
}

#text {
  color: rgba(75, 75, 75, 0.8);
}

#name {
  color: rgb(195, 153, 0);
}

#bioimage {
  border-radius: 50%;
  width: 20%;
  height: 20%;
}
nav {
  overflow-x: hidden;
}
#index {
  overflow-x: hidden;
}

#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

#index {
  margin-top: 40px;
  height: 20px;
}

#about {
  height: 75vh;
}
#about container {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

#contact {
  margin-top: 30vh;
}

#scrolldownindicator {
  margin-left: 50%;
  margin-right: 50%;
}

#resumeBtn {
  position: relative;
  font-size: 30px;
  line-height: 50px;
  color: rgb(102, 160, 153);
  font-weight: bold;
  border-color: rgb(33, 67, 255);
  transform: translate(0, -5px);
}

@media (max-width: 575.98px) {
  #bioimage {
    widows: 100px;
    height: 100px;
  }
}

.project:hover {
  animation: bounce 1s;
}

@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
